@charset "utf-8";
body{
	background:#fff;/*#f9f9f9;*/
}
/*头部*/
body>.header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:0.8rem;
	line-height:0.8rem;
	color:#fff;
	background:#e40528;
	z-index:10;
}
.header .back{
	position:absolute;
	left:0;
	top:0;
	height:0.8rem;
	line-height:0.8rem;
	padding-left:0.5rem;
	font-size:0.32rem;
	background:url("https://static.fuiou.com/sys/o2o/redpackets/img/redpackets/back.png") no-repeat 0.24rem center;
	background-size:0.2rem 0.35rem;
}
.header .title{
	width:100%;
	text-align:center;
	font-size:0.32rem;
}
.padding{
	width:100%;
	height:.88rem;
}
/*banner*/
.banner{
	display:none;
	width:100%;
	max-height:5rem;
}
.banner.active{
	display:block;
}
.banner .swiper-container {
    width: 100%;
    max-height: 5rem;
}  
.banner img{
	width:100%;
	height:100%:
}
.swiper-pagination-bullet-active{
	background:#fff;
}
/*content*/
#content{
	display:none;
	width:100%;
	/*height:1.3rem;*/
}
#content.active{
	display:block;
}
#content .title{
	display:block;
	width:100%;
	height:auto;
	margin-bottom:0.1rem;
	/*height:1.3rem;*/
	/*background:url("https://static.fuiou.com/sys/o2o/redpackets/img/redpackets/title.png") no-repeat center;*/
	/*background:url("../img/redpackets/title.png") no-repeat center;*/
	/*background-size:4.04rem 0.61rem;height:1rem;*/
	/*background-size:2.86rem 0.98rem;*/
}
.list{
	padding-left:0.1rem;
	width:100%;
	box-sizing:border-box;
}
.list li{
	display:none;
	position:relative;
	float:left;
	/*margin-right:0.1rem;*/
	padding-right:0.1rem;
	margin-bottom:0.24rem;
	/*width:3.6rem;*/
	width:50%;
	height:5.16rem;
	box-sizing:border-box;
}
.list li.active{
	display:block;
}
.list>li .img_wrap{
	/*display:table-cell;*/
	/*width:3.6rem;*/
	width:100%;
	height:4rem;
	/*vertical-align:middle;*/
	border-radius:10px;
	text-align:center;
	font-size:0;
}
.list>li .img_wrap span{
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
.list>li .img_wrap img{
	/*max-width:3.6rem;*/
	width:100%;
	max-height:4rem;
	height:4rem;
	border-radius:0.1rem;
}

.list>li .cutdown{
	position:absolute;
	right:0.2rem;
	top:0.2rem;
	height:0.36rem;
	font-family:"HiraginoSansGB W3";
	color:#fff;
	font-size:0.2rem;
	line-height:0.36rem;
}
.list>li .cutdown b{
	float:left;
	width:0.12rem;
	height:0.36rem;
	text-align:center;
	color:rgba(0,0,0,0.8);
}
.list>li .cutdown span{
	float:left;
	width:0.36rem;
	height:0.36rem;
	border-radius:5px;
	background:rgba(0,0,0,0.8);
	text-align:center;
}

.list>li .info_wrap{
	box-sizing:border-box;
	width:100%;
	height:1.16rem;
	padding-left:0.1rem;
}
.list>li .info_wrap .voucher{
	width:100%;
	height:0.56rem;
	font-family:"HiraginoSansGB W3";
	color:#e40528;
}
.list>li .info_wrap .voucher .voucher_price{
	float:left;
	display:flex;
	margin-top:0.12rem;
	min-width:1.3rem;
	height:0.32rem;
	background:#e40528;
	border-radius:0.05rem;
	font-size:0.24rem;
	color:#fff;
	align-items:center;
}
.list>li .info_wrap .voucher .voucher_price span{
	padding:0 0.05rem;
	height:0.32rem;
	line-height:0.32rem;
	text-align:center;
	flex:1;
}
.list>li .info_wrap .voucher .voucher_price b{
	font-weight: normal;
	/*width:0.58rem;*/
	padding:0 0.05rem;
	height:0.26rem;
	line-height:0.26rem;
	background:#fff;
	color:#e40528;
	border-radius:0.05rem;
	text-align:center;
	/*margin:0.02rem 0.02rem 0 0;*/
	margin-right:0.02rem;
}
.list>li .info_wrap .voucher .buy_price{
	float:right;
	padding-right:0.06rem;
	font-size:0.28rem;
	height:100%;
	line-height:2em;
}
.list>li .info_wrap .voucher .buy_price .yuan{
	font-size:0.36rem;
}
.list>li .info_wrap .name{
	width:100%;
	height:0.6rem;
	overflow:hidden;
	line-height:0.3rem;
	font-size:0.24rem;
	font-family:"HiraginoSansGB W3";
	color:#666;
	word-break:break-all;
}
.list>li .info_wrap .solded{
	position:absolute;
	bottom:0.04rem;
	right:0.15rem;
	color:#999;
	font-size:0.2rem;
}
/*swiper*/
.tipWrapper{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	z-index:1000;
}
.tipWrapper.active{
	display:block;
}
.tipWrapper #tip{
	position:absolute;
	left:50%;
	top:2.1rem;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	width:5.76rem;
	height:6.06rem;
	background:url(../img/redpackets/popup_n.png) no-repeat center;
	background-size:5.76rem 6.06rem;
	overflow:hidden;
}
.tipWrapper #tip #sure{
	position:absolute;
	bottom:0.26rem;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	margin:0 auto;
	display:block;
	width:4.6rem;
	height:0.64rem;
	background:#e50527;
	color:#fff;
	font-size:0.28rem;
	line-height:0.64rem;
	text-align:center;
	border-radius:0.64rem;
}
/*back top*/
#top{
	display: none;
	position:fixed;
	right:.5rem;
	bottom:1rem;
	width:.8rem;
	height:.8rem;
	border-radius: 50%;
	background:url(https://static.fuiou.com/sys/o2o/redpackets/img/redpackets/toTop.png) no-repeat center;
	background-size:.8rem auto;
}
/*#icon*/
#icon{
	position:fixed;
	right:.1rem;
	top:3.5rem;
	width:1.2rem;
	height:1.2rem;
	background:url(https://static.fuiou.com/sys/o2o/redpackets/test/img/redpackets/icon.png) no-repeat center;
	background-size:1.2rem 1.2rem;
	z-index:10;
	-moz-animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate-reverse both;
	-ms-animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate-reverse both;
	-webkit-animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate-reverse both;
	animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate-reverse both;
}
@-moz-keyframes shake{
	0%, 60% {-moz-transform: translate3d(-1px, 0, 0);}
	65%, 95% {-moz-transform: translate3d(2px, 0, 0);}
	70%, 80%, 90% {-moz-transform: translate3d(-3px, 0, 0);}
	75%, 85% {-moz-transform: translate3d(3px, 0, 0);}
}
@-ms-keyframes shake{
	0%, 60% {-ms-transform: translate3d(-1px, 0, 0);}
	65%, 95% {-ms-transform: translate3d(2px, 0, 0);}
	70%, 80%, 90% {-ms-transform: translate3d(-3px, 0, 0);}
	75%, 85% {-ms-transform: translate3d(3px, 0, 0);}
}
@-webkit-keyframes shake{
	0%, 60% {-webkit-transform: translate3d(-1px, 0, 0);}
	65%, 95% {-webkit-transform: translate3d(2px, 0, 0);}
	70%, 80%, 90% {-webkit-transform: translate3d(-3px, 0, 0);}
	75%, 85% {-webkit-transform: translate3d(3px, 0, 0);}
}
@keyframes shake{
	0%, 60% {transform: translate3d(-1px, 0, 0);}
	65%, 95% {transform: translate3d(2px, 0, 0);}
	70%, 80%, 90% {transform: translate3d(-3px, 0, 0);}
	75%, 85% {transform: translate3d(3px, 0, 0);}
}/*toast*/
#toast{
	display:none;
	position:fixed;
	top:1.1rem;
	left:.1rem;
	width:3.1rem;
	height:.78rem;
	border:1px solid #ce929d;
	color:#fff;
	font-size:.22rem;
	line-height:.30rem;
	border-radius:.2rem;
	background:rgba(0,0,0,.6);
	z-index:10;
}
#toast.active{
	display:block;
}
#toast span{
	float:left;
	padding-left:.2rem;
	height:.32rem;
	line-height:.32rem;
}
#toast span.user{
	margin-top:.05rem;
}
#toast span b{
	font-weight:normal;
}
