@charset "utf-8";
body{
	background:#f9f9f9;
}
/*头部*/
body>.header{
	position:relative;
	width:100%;
	height:0.8rem;
	line-height:0.8rem;
	color:#fff;
	background:#e40528;
}
.header .back{
	position:absolute;
	left:0;
	top:0;
	height:0.8rem;
	line-height:0.8rem;
	padding-left:0.5rem;
	font-size:0.32rem;
	background:url("https://static.fuiou.com/sys/o2o/redpackets/img/redpackets/back.png") no-repeat 0.24rem center;
	background-size:0.2rem 0.35rem;
}
.header .title{
	width:100%;
	text-align:center;
	font-size:0.32rem;
}
/*banner*/
.banner{
	display:none;
	width:100%;
	height:5rem;
}
.banner.active{
	display:block;
}
.banner .swiper-container {
    width: 100%;
    height: 5rem;
}  
.banner img{
	width:100%;
	height:100%:
}
.swiper-pagination-bullet-active{
	background:#fff;
}
/*content*/
.content{
	display:none;
	width:100%;
	/*height:1.3rem;*/
}
.content.active{
	display:block;
}
.content .title{
	display:block;
	width:100%;
	height:1.3rem;
	background:url("https://static.fuiou.com/sys/o2o/redpackets/img/redpackets/title.png") no-repeat center;
	/*background:url("../img/redpackets/title.png") no-repeat center;*/
	/*background-size:4.04rem 0.61rem;height:1rem;*/
	background-size:2.86rem 0.98rem;
}
#list{
	padding-left:0.1rem;
	width:100%;
	box-sizing:border-box;
}
#list li{
	display:none;
	position:relative;
	float:left;
	/*margin-right:0.1rem;*/
	padding-right:0.1rem;
	margin-bottom:0.24rem;
	/*width:3.6rem;*/
	width:50%;
	height:5.16rem;
	box-sizing:border-box;
}
#list li.active{
	display:block;
}
#list>li .img_wrap{
	/*display:table-cell;*/
	/*width:3.6rem;*/
	width:100%;
	height:4rem;
	/*vertical-align:middle;*/
	border-radius:10px;
	text-align:center;
	font-size:0;
}
#list>li .img_wrap span{
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
#list>li .img_wrap img{
	/*max-width:3.6rem;*/
	width:100%;
	max-height:4rem;
	height:4rem;
	border-radius:0.1rem;
}

#list>li .cutdown{
	position:absolute;
	right:0.2rem;
	top:0.2rem;
	height:0.36rem;
	font-family:"HiraginoSansGB W3";
	color:#fff;
	font-size:0.2rem;
	line-height:0.36rem;
}
#list>li .cutdown b{
	float:left;
	width:0.12rem;
	height:0.36rem;
	text-align:center;
	color:rgba(0,0,0,0.8);
}
#list>li .cutdown span{
	float:left;
	width:0.36rem;
	height:0.36rem;
	border-radius:5px;
	background:rgba(0,0,0,0.8);
	text-align:center;
}

#list>li .info_wrap{
	box-sizing:border-box;
	width:100%;
	height:1.16rem;
	padding-left:0.1rem;
}
#list>li .info_wrap .voucher{
	width:100%;
	height:0.56rem;
	font-family:"HiraginoSansGB W3";
	color:#e40528;
}
#list>li .info_wrap .voucher .voucher_price{
	float:left;
	display:flex;
	margin-top:0.12rem;
	min-width:1.3rem;
	height:0.32rem;
	background:#e40528;
	border-radius:0.05rem;
	font-size:0.24rem;
	color:#fff;
	align-items:center;
}
#list>li .info_wrap .voucher .voucher_price span{
	padding:0 0.05rem;
	height:0.32rem;
	line-height:0.32rem;
	text-align:center;
	flex:1;
}
#list>li .info_wrap .voucher .voucher_price b{
	font-weight: normal;
	/*width:0.58rem;*/
	padding:0 0.05rem;
	height:0.26rem;
	line-height:0.26rem;
	background:#fff;
	color:#e40528;
	border-radius:0.05rem;
	text-align:center;
	/*margin:0.02rem 0.02rem 0 0;*/
	margin-right:0.02rem;
}
#list>li .info_wrap .voucher .buy_price{
	float:right;
	padding-right:0.06rem;
	font-size:0.28rem;
	height:100%;
	line-height:2em;
}
#list>li .info_wrap .voucher .buy_price .yuan{
	font-size:0.36rem;
}
#list>li .info_wrap .name{
	width:100%;
	height:0.6rem;
	overflow:hidden;
	line-height:0.3rem;
	font-size:0.24rem;
	font-family:"HiraginoSansGB W3";
	color:#666;
	word-break:break-all;
}
#list>li .info_wrap .solded{
	position:absolute;
	bottom:0.04rem;
	right:0.06rem;
	color:#999;
	font-size:0.2rem;
}
/*swiper*/
.tipWrapper{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	z-index:1000;
}
.tipWrapper.active{
	display:block;
}
.tipWrapper #tip{
	position:absolute;
	left:50%;
	top:2.1rem;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	width:5.86rem;
	height:6.08rem;
	background:url(../img/redpackets/popup_new.png) no-repeat center;
	background-size:5.86rem 6.08rem;
	overflow:hidden;
}
.tipWrapper #tip #sure{
	position:absolute;
	bottom:0.26rem;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	margin:0 auto;
	display:block;
	width:4.6rem;
	height:0.64rem;
	background:#e50527;
	color:#fff;
	font-size:0.28rem;
	line-height:0.64rem;
	text-align:center;
	border-radius:0.64rem;
}